@import { SelectorModel } from "../types";
@import { selectorFunction } from "./selectorFunction.rzr";
@define selector(model: SelectorModel)

export function selector<T = any>(s: @model.rootStateName, stateName: string, id: number): T {
  switch (stateName) {
@for (const state of model.states) {
    case "@state.stateName":
 @if (state.handlesWithId) {
      return <any>@(state.methodName)(s, id);
 } else {
      return <any>s.@state.defaultPath;
 }    
}
    default: return <any>s;
  }
}

export const @model.selectorName = selector;
@for (const state of model.states) {
 @if (state.handlesWithId) {

@[selectorFunction(state, model.rootStateName)]
 }
}